@font-face {
    font-family: 'FaktPro-Light';
    src: url('./assets/FaktPro-Light.woff');
}
@font-face {
    font-family: 'FaktPro-Medium';
    src: url('./assets/FaktPro-Medium.woff');
}
@font-face {
    font-family: 'SuperiorTitle';
    src: url('./assets/SuperiorTitle-Black.woff');
}
html {
    font-size: 1vw;
    @media only screen and (min-width: 1537.5px) {
        font-size: 15px;
    }
    body {
        font-family: serif;
        .header {
            position: fixed;
            width: 100vw;
            top: 25px;
            z-index: 1;
            .logo-link {
                display: inline-block;
                text-decoration: none;
                position: absolute;
                left: 33px;
                width: 31px;
                height: 27px;
                background: url('./assets/uq-logo.svg') no-repeat;
                background-size: cover;
            }
            .header_open-wrapper {
                position: absolute;
                top: -35px;
                right: 17px;
                width: 50px;
                transition: transform 0.3s;
                cursor: pointer;
                &:hover {
                    transform: translate3d(0, 10px, 0);
                }
                .header_open-text_wrapper {
                    &:before {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 35px;
                        background: #000;
                    }
                    .text {
                        position: relative;
                        font-family: 'FaktPro-Medium';
                        display: inline-block;
                        width: 100%;
                        padding-top: 8px;
                        text-align: center;
                        font-size: 10px;
                        letter-spacing: 1.62px;
                        color: #000;
                        &:after {
                            position: absolute;
                            display: block;
                            content: '';
                            width: 75%;
                            height: 1px;
                            left: 12.5%;
                            background: #fff;
                            top: -7px;
                        }
                    }
                }
            }
        }
        .sidebar {
            opacity: 0;
            position: fixed;
            left: 0;
            top: 50%;
            width: 8.3vw;
            transform: translate3d(0, -100%, 0);
            transition: 0.5s;
            &.active {
                opacity: 1;
                transform: translate3d(0, -50%, 0);
            }
            .sidebar-logo {
                width: 12px;
                height: 120px;
                margin: 0 auto 20px;
                background: url('./assets/upperquad-logotype.svg') no-repeat;
                background-size: cover;
            }
            .line {
                width: 1px;
                height: 15px;
                background: #000;
                margin: auto;
            }

        }
        .page-content {
            .first-part {
                position: relative;
                .bg-shape-wrapper {
                    position: absolute;
                    top: 20%;
                    bottom: 15%;
                    width: 100%;
                    z-index: -1;
                    .bg-shape {
                        height: 0;
                        transform-origin: 50% 0;
                        background: #f7f7f6;
                        margin-left: 8.3%;
                        width: 30%;
                        transition: 0.35s;
                        &.active {
                            height: 100%;
                        }
                    }
                }
                .video-wrapper {
                    @keyframes videoFadein {
                        from{
                            box-shadow: none;
                            opacity: 0;
                            transform: scale(0.95);
                        }
                        to {
                            box-shadow: 3px 7px 16px -6px rgba(0,0,0,0.07), 15px 20px 37px -2px rgba(0,0,0,0.07), 20px 42px 80px 6px rgba(0,0,0,0.07), 20px 42px 120px 10px rgba(0,0,0,0.07);
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                    margin-top: 10vh;
                    margin-left: 12.5vw;
                    width: 75vw;
                    height: 75vh;
                    background: #fff;
                    transition: box-shadow 1.7s cubic-bezier(0.2, 0.57, 0, 1.04),
                                opacity 1s,
                                transform 1s cubic-bezier(0.2, 0.57, 0, 1.04);
                    animation: videoFadein 1.7s 0.9s cubic-bezier(0.2, 0.57, 0, 1.04) forwards;
                }
                .title-wrapper {
                    @keyframes titleFadein {
                        from {
                            opacity: 0;
                            transform: translate3d(-50px, 0, 0);
                        }
                        to {
                            opacity: 1;
                            transform: translate3d(0, 0, 0);
                        }
                    }
                    transform: translate3d(0, -70%, 0);
                    left: 0;
                    right: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .small-text-wrapper {
                        opacity: 0;
                        font-family: 'FaktPro-Medium';
                        font-size: 17px;
                        margin-left: 20%;
                        animation: titleFadein 0.75s 0.3s forwards;
                    }
                    .line {
                        opacity: 0;
                        height: 2px;
                        background: #000;
                        flex-grow: 1;
                        margin: 0 20px;
                        animation: titleFadein 0.75s 0.2s forwards;                
                    }
                    .big-text-wrapper {
                        opacity: 0;
                        font-family: 'SuperiorTitle';  
                        margin-right: 10%;
                        animation: titleFadein 0.75s forwards;                
                        .big-text {
                            letter-spacing: 0.1px;
                            line-height: 0.89;
                            font-size: 9rem;
                            transition: 0.6s;
                            transition-delay: 0.35s;
                            font-weight: 400;
                        }
                    }
                }
                .summary-wrapper {
                    display: flex;
                    align-items: center;
                    .summary {
                        font-family: "FaktPro-Light",Helvetica,Arial,sans-serif;
                        margin-left: 12.5%;
                        flex-basis: 62.5%;
                        font-size: 4rem;
                        line-height: 1.4;
                        letter-spacing: -0.27rem;
                        font-weight: lighter;
                    }
                }
                .link-wrapper {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 100px;
                    margin-left: 12%;
                    width: 33.3333%;
                    .link {
                        position: relative;
                        .link_bg-wrapper {
                            z-index: -1;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            .link_bg {
                                position: absolute;
                                height: 100%;
                                animation: sprinkle-wiggle 5s ease-in-out infinite;
                                @keyframes sprinkle-wiggle {
                                    0%, 25%, 50%, 75%, 100% {
                                        transform: none;
                                    }
                                    12.5% {
                                        transform: scale(1.07, 0.95) rotate(3deg) translate3d(2px, -2px, 0);
                                    }
                                    37.5% {
                                        transform: scale(0.97, 1.03) rotate(1deg) translate3d(-1px, 2px, 0);
                                    }
                                    62.5% {
                                        transform: scale(1.05, 0.98) rotate(4deg) translate3d(1px, 1px, 0);
                                    }
                                    87.5% {
                                    }
                                }
                            }
                        }
                        display: inline-block;
                        line-height: 64px;
                        font-family: 'SuperiorTitle', serif;
                        font-size: 10px;
                        letter-spacing: 0.18em;
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
            .more-content {
                height: 300vh;
            }
        }
    }
}